*.js
!jest.config.js
!.prettierrc.js
!.eslintrc.js
*.d.ts
!lib/shapes/*.d.ts
node_modules
secrets*

# Editors
.vscode

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build
.dist
