@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.App {
  display: grid;
  grid-template-rows: 30vh auto 40px;
  justify-items: center;
  height: 100vh;
}
.App-header {
  margin: auto;
  text-align: center;
}
.App-logo {
  font-family: "Fredoka One", cursive;
  font-size: 10rem;
  font-variant: small-caps;
  letter-spacing: 1rem;
}
.App-body {
  max-width: 1000px;
  font-size: 1.2em;
  padding: 1em;
}
.section-header {
  font-family: "Fredoka One", cursive;
}
.message {
  border: 1px solid var(--bg-color-dark);
  border-radius: 5px;
  padding: 1rem;
}
.App-footer {
  background-color: var(--bg-color-dark);
  color: var(--font-color-light);
  text-align: center;
  padding: 5px;
  width: 100%;
}
.App-footer a {
  color: var(--accent-color-light);
}
.App-footer a:hover {
  color: var(--font-color-light);
}
